<h1>Register</h1>
<form action=/register method=POST>
    Username: <input type=text name=username>
    Password: <input type=password name=password>
    <input type=submit value="Register!">
</form>
